@import "./utilities/responsivo"; //  RESPONSIVO
@import "./utilities/clamp"; //  CLAMP




//text intro

@mixin textIntro {
  text-align: center;
  line-height: 145%;
  color: $cor-preto-1;
  letter-spacing: -0.03em;
  font-size: rem(48);
  font-weight: bold;

  @include d(m) {
    font-size: rem(28);
  }

  @include d(s) {
    font-size: calc(22px + 0.2rem);
  }
}


@mixin botaoIsentei($cor:white, $bg:$cor-verde-1) {
  display: inline-flex;

  .btn {
    background: $bg;
    color: $cor;
    flex-grow: 0;
    @include center;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: $border-radius;
    transition: transform .3s ease, box-shadow .3s ease, background .3s ease;
    font-size: rem(16);
    display: inline-flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    @include d(m) {
      max-width: 250px;
      flex-wrap: nowrap;
      text-align: center;
      padding: 6px 20px
    }

    ion-icon {
      margin-left: 5px;
      vertical-align: middle;
      transition: all .3s ease;

      @include d(m) {
        margin-left: 10px;
        font-size: rem(28);
      }

    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 2px 3px 20px #01b5345b;

    }
  }
}

@mixin setaBotao {
  position: relative;

  ion-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 15px;
    font-size: rem(18);
    opacity: 0;
  }

  &:hover {
    ion-icon {
      opacity: 1;
      animation: setaButton .5s linear infinite alternate;
    }
  }

}


@mixin tituloGrande {
  color: $secundaria;
  font-size: clamp(42px, 7vw, 84px);
  text-align: center;
  margin: 40px auto;
}


@mixin subtitulo($alinhamento: center) {
  color: $terciaria;
  text-align: $alinhamento;
  line-height: 160%;

  @include d(s) {
    font-size: 14px;
  }
}


@mixin botao($bg: white, $color: $secundaria) {
  border-radius: 30px;
  padding: 15px 40px;
  text-align: center;
  display: inline-flex;
  background-color: $bg;
  color: $color;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 700;
  position: relative;
  overflow: hidden;

  span {
    background: $secundaria;
    position: absolute;
    transform-origin: center center;
    @include size(100px);
    border-radius: 50%;
    animation: animate 1s linear forwards;
    pointer-events: none;

    z-index: 10;
  }
}

@mixin sombra {
  box-shadow: 0 30px 30px -40px rgb(0 0 0 / 64%);
}

// ===================================================

//background
@mixin bg-props-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin bg-props-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Sizing
// ------
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Normal & hover state
// --------------------
@mixin hoverer($property, $normal, $hovered) {
  transition: 0.4s ease;

  #{$property}: $normal;

  &:hover {
    #{$property}: $hovered;
  }
}

@mixin data__logo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 5px 10px;

  img {
    width: 130px;
  }
}

@mixin pseudo($p: initial) {
  content: "";
  display: block;
  @include bg-props-contain;
  position: $p;
  pointer-events: none;
}

@mixin inset {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}