body {
    // @include scrollbars(8px, $cor-1, rgb(238, 238, 238));

    overflow-x: hidden;
    transition: all 0.3s ease;
    opacity: 0;


    &.dcl {
        opacity: 1;
    }

    font-family: $font-raleway;

}