/**
 * Variables
 */

// Spacing
$base-spacing: 1em;

// Colors
$off-white: #F5F5F5;
$base-accent-color: #34Bf49;

// Thumb Opacity Settings
$thumb-opacity-inactive: 0.8;
$thumb-opacity-hover: 1;
$thumb-opacity-active: 0.1;

// Icon Opacity Settings
$icon-opacity-norm: 0.5;
$icon-opacity-hover: 1;

// Transition Settings
$base-transition-timing: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$base-transition-duration: .3s;




// Image Replacement
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


//  * Gallery Styles
//  * 1. Enable fluid images

.gallery {
    overflow: hidden;
}

.gallery__hero {
    overflow: hidden;
    position: relative;
    padding: $base-spacing*2;
    margin: 0 0 $base-spacing/3;
    background: #fff;

    // Modifiers
    .is-zoomed & {
        cursor: move;

        img {
            max-width: none;
            position: absolute;
            z-index: 0;
            top: -50%;
            left: -50%;

        }



    }

    //plugin de zoom display none
    &:hover {
        img:not([role="presentation"]) {
            display: none !important;

        }


    }
}

// .gallery__hero-enlarge {
//     position: absolute;
//     right: $base-spacing/2;
//     bottom: $base-spacing/2;
//     z-index: 1;
//     width: 30px;
//     height: 30px;
//     opacity: $icon-opacity-norm;
//     background-repeat: no-repeat;
//     transition: opacity $base-transition-duration $base-transition-timing;

//     &:hover {
//         opacity: $icon-opacity-hover;
//     }

// }

.gallery__thumbs {
    text-align: center;
    background: #fff;
    width: 400px;
    margin: 0 auto;
    height: 90px;

    a {
        display: inline-block;
        width: 20%;
        padding: $base-spacing/2;
        opacity: $thumb-opacity-inactive;
        transition: opacity $base-transition-duration $base-transition-timing;

        &:hover {
            opacity: $thumb-opacity-hover;
        }

        // Modifiers
        &.is-active {
            opacity: $thumb-opacity-active;
        }
    }
}