@import "../cores__font";
@import "../utilities/scrollbars";

.popup__cart-wrapper {
    // display: none;
    background: #ffff;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    min-width: 280px;
    align-items: center;
    border-radius: 4px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.15);
    ////
    pointer-events: none;
    visibility: hidden;
    transform: scale(.9) translateY(-20px);
    transition: opacity .3s ease, transform .3s ease;
    transform-origin: top right;
    border-radius: 8px;
    overflow: hidden;
    z-index: 9999;


    .popup__cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 10px;


        .popup__js-cart-popup {
            img {
                object-fit: cover;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .popup__cart-text {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: rem(22);
            }

            span {
                padding-top: 8px;
                font-size: rem(14);
                color: $cor-laranja-3;
            }
        }
    }

    a {
        color: $cor-laranja-2;
        font-weight: bold;
        width: 100%;
        text-align: center;
        position: relative;
        height: 70px;
        display: grid;
        place-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: background .3s ease, color .3s ease;
        overflow: hidden;

        &:hover {
            background: $cor-laranja;
            color: white;

            &:before {
                opacity: 0;
            }
        }


        &:before {
            content: "";
            display: block;
            width: 80%;
            height: 1px;
            background: $cor-cinza-1;
            margin-bottom: 10px;
            position: absolute;
            top: 5px;
        }
    }


}

//aberto


@keyframes voltaRedonda {
    to {
        opacity: 0;
    }
}

//classe do body
.popup__open {
    .menu .popup__cart-wrapper {
        transform: scale(1) translateY(0);
        pointer-events: all;
        visibility: visible;
        opacity: 1 !important;
        transform-origin: top right;
    }
}

