& {
  background: $cor-laranja-bg;
}

.contato__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  @include d(m) {
    flex-direction: column;
    margin-bottom: 40px;
  }


}

.sobre {
  padding-top: 16vh;

  h1 {

    font-family: $font-boska;
    font-size: rem(72);
    color: $cor-preto-3;


    @include d(s) {
      padding-top: 2vh;
      font-size: rem(48);
    }

  }

  p {
    padding-top: 16px;
    max-width: 350px;
    font-size: rem(16);
    color: $cor-preto-3;
  }

  h4 {
    padding-top: 6vh;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: rem(24);
    color: $cor-preto-3;
    color: $cor-preto-3;

    @include d(s) {
      padding-top: 32px;
      font-size: rem(22);
      padding-bottom: 8px;

    }
  }

  span {
    font-weight: 500;
    font-size: rem(16);
    color: $cor-preto-3;
  }


}


.text__intro-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6vh;

  @include d(m) {
    padding-top: 4vh;
    align-items: center;
    justify-content: flex-start;
  }

  img {
    margin-right: 30px;
    padding: 10px 0 0 0;

    @include d(m) {
      padding: 0;
      width: 120px;
    }

    @include d(s) {
      margin-right: 20px;
      padding: 0;
      width: 80px;
      width: 80px;
    }
  }

  h3 {
    font-size: rem(40);
    font-weight: 700;
    line-height: 130%;
    max-width: 500px;
    color: $cor-preto-3;

    @include d(s) {
      font-size: rem(22);
    }
  }
}


.sobre__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4vh;

  @include d(m) {
    flex-direction: column;
    align-items: flex-start;


  }

  @include d(s) {

    padding-top: 24px;
    flex-direction: column;
  }

  h3 {
    font-size: rem(18);
    font-weight: bold;
    color: $cor-preto-3;

    @include d(m) {
      font-size: rem(32);
    }

    @include d(s) {
      font-size: rem(18);
    }
  }

  p {
    padding-top: 8px;
    font-size: rem(14);
    line-height: 140%;
    color: $cor-preto-3;

    @include d(m) {
      font-size: rem(18);

    }

    @include d(s) {
      font-size: rem(14);
    }


  }

  .sobre__historia {
    margin-right: 40px;

    @include d(m) {
      margin-right: 0;
      width: 100%;
    }

    @include d(s) {
      margin-right: 0;

    }

  }

  .sobre__visao {
    @include d(s) {
      margin-top: 20px;
    }
  }
}

// IMG INTRO 

.sobre__direita {
  display: flex;
  justify-content: flex-end;

  @include d(m) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  @include d(s) {
    margin-top: 20px;
  }



  .sobre__direita-img {
    max-width: 500px;

    @include d(s) {
      max-width: 100%;
    }

    img {
      padding-top: 10px;
      object-fit: cover;
    }

  }


}


.footer {
  background: #ffff;
  margin-top: 120px;

  @include d(m) {
    margin-top: 60px;
  }
}