& {
  background: $cor-laranja-bg;
}

.contato {
  padding-top: 16vh;

}

.container {
  @include d(s) {
    padding: 0;
  }
}

.contato__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text__intro {
  display: flex;
  flex-direction: column;

  @include d(m) {
    align-items: center;
  }
}

.contatos__intro {


  h1 {
    font-size: rem(52);
    font-weight: 700;
    font-family: $font-boska;

    @include d(m) {
      text-align: center;
    }

    @include d(s) {
      margin-top: 5vh;
      font-size: rem(36);
    }
  }

  h2 {
    font-size: rem(24);
    padding-top: 64px;
    font-weight: 700;
    font-size: $font-raleway;
    margin-bottom: 30px;

    @include d(m) {
      text-align: center;
      padding-top: 30px;
    }

    @include d(s) {
      font-size: rem(18);

    }
  }


}

.contatos__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;


  img {
    margin-right: 16px;
  }

  span {
    font-weight: 500;
    color: $cor-preto-3;
    font-feature-settings: 'pnum'on, 'lnum'on;
    font-size: rem(16);

    @include d(ss) {
      font-size: rem(14);
    }

  }

}







/* FORMULARIO ESTILO*/


.contatos__form {
  @include d(s) {
    padding: 0 !important;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include d(s) {
    display: block;
  }

  @include d(m) {
    margin-bottom: 40px;
  }

}

.form {
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 60px 10px 40px 10px;
  background: white;
  width: 500px;
  margin-top: 20px;

  @include d(m) {
    margin-top: 40px;
    padding: 60px 10px 30px 10px;
    width: 450px;

  }

  @include d(s) {
    margin-top: 40px;
    width: 100%;
    padding: 60px 20px 30px 20px;
  }
}


.input__box {
  position: relative;
  width: 90%;
  height: 46px;
  margin-bottom: 60px;

  @include d(m) {
    width: 90%;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid $cor-cinza-1;
    border-radius: 4px;
    background: transparent;
    padding: 16px;
    outline: none;
    color: $cor-preto-2;
    font-weight: 400;
    font-size: 16px;
    transition: .5s ease;

    @include d(m) {
      width: 100%;
    }




    &::placeholder {
      color: $cor-cinza-4;
      font-size: rem(14);
      font-family: $font-raleway;

      @include d(s) {
        font-size: rem(12);
      }

    }
  }

  span {
    position: absolute;
    top: rem(-30);
    left: 0;
    padding: 0;
    display: inline-block;
    font-weight: 700;
    font-size: rem(14);
    color: $cor-preto-2;

  }




  input:focus,
  input:valid,
  textarea:focus,
  textarea:valid {
    border: 1px solid $cor-preto-2 !important;

  }

  ion-icon {
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto 0;
    left: 10px;
    font-size: 20px;

  }
}

.ultimo {
  margin-bottom: 10px;
}

.textarea {


  textarea {
    margin: 0px;
    width: 100%;

    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: $cor-cinza-1;
    resize: none;
    padding: 15px 15px;
    transition: 0.3s;
    border-radius: 8px;
    max-height: 150px;

    @include d(m) {
      width: 100%
    }

    &::placeholder {
      font-size: rem(14);
      font-family: $font-raleway;
      color: $cor-cinza-4;

      @include d(s) {
        font-size: rem(12);
      }
    }





  }

  p {
    padding: 0;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: rem(14);
    color: #151617;
  }
}



.select__container {
  @include d(m) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  select {
    width: 400px;
    height: 46px;
    padding: 0 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid $cor-verde-1 !important;
    cursor: pointer;

    @include d(m) {
      width: 270px;
      @include center;
    }

  }

  p {
    display: inline-block;
    font-weight: 300;
    font-size: rem(14);
    color: $cor-preto-2;
  }
}

.btn__container {
  @include botaoMult();
  margin-top: 64px;
  width: 100%;
  justify-content: center;



  .btn {
    width: 220px;
    background: $cor-preto-1;
    cursor: pointer;

    &:hover {
      background: $cor-laranja;
    }
  }
}